body {
    margin: 0px;
}

@font-face {
    font-weight: 300;
    font-family: "Binance Plex";
    font-style: normal;
    src: local("Binance Plex Light"), local("BinancePlex-Light"), url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.woff2"), url("/fonts/BinancePlex-Light.woff2") format("woff2");
    font-feature-settings: "ss02";
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: "Binance Plex";
    font-style: normal;
    src: local("Binance Plex Regular"), local("BinancePlex Regular"), url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Regular.woff2"), url("/fonts/BinancePlex-Regular.woff2") format("woff2");
    font-display: swap;
    font-feature-settings: "ss02";
}

@font-face {
    font-weight: 500;
    font-family: "Binance Plex";
    font-style: normal;
    src: local("Binance Plex Medium"), local("BinancePlex Medium"), url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Medium.woff2"), url("/fonts/BinancePlex-Medium.woff2") format("woff2");
    font-display: swap;
    font-feature-settings: "ss02";
}

@font-face {
    font-weight: 600;
    font-family: "Binance Plex";
    font-style: normal;
    src: local("Binance Plex SemiBold"), local("BinancePlex-SemiBold"), url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2"), url("/fonts/BinancePlex-SemiBold.woff2") format("woff2");
    font-display: swap;
    font-feature-settings: "ss02";
}

a {
    text-decoration: none;
}

body {
    font-family: "Binance Plex", -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", sans-serif;
    text-rendering: optimizelegibility;
    font-family: BinancePlex, Arial, sans-serif!important;
}

#Academy {
    width: 100%;
    height: 7847.05px;
    background-color: rgb(98, 98, 98);
}

#above {
    width: 100%;
    padding-top: 16.42px;
    padding-bottom: 16.42px;
    display: flex;
    background-color: #181A20;
    justify-content: center;
}

#menu {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo_menu {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 114.3px;
    height: 28.8px;
}

#logo a {
    height: 100%;
    color: rgb(252, 213, 53);
    text-decoration: none;
}

#item {
    width: 1171.7px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conten_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0%;
}

#conten_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.button_item {
    height: 100%;
    display: flex;
    padding: 0 4px;
    box-sizing: border-box;
    min-width: 0;
    font-size: 15.1px;
    justify-content: space-between;
    align-items: center;
}

.button_item a svg {
    width: 24px;
    height: 24px;
    color: rgb(224, 224, 224);
    margin-top: 3px;
}

.button:hover svg {
    color: rgb(252, 213, 53);
}

.button:hover a {
    color: rgb(252, 213, 53);
}

.button:hover i {
    transform: rotate(180deg);
    margin-top: 5px;
}

.button_item a {
    cursor: pointer;
    color: #EAECEF;
    text-decoration: none;
}

.button i {
    font-size: 11px;
    margin-bottom: 3px;
    color: rgb(132, 142, 156);
}

#start_here a {
    height: 32px;
    margin-left: 8px;
    margin-right: 8px;
    width: 86.92px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(14, 203, 129);
    color: rgb(219, 218, 218);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

#start_here a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(14, 203, 129);
}

#conten_right {
    width: 310px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    width: 48px;
    display: flex;
    justify-content: center;
}

.search_1 {
    background-color: transparent;
    border: none;
    color: rgb(207, 207, 207);
}

.search_2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 24px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}

.search_2:hover {
    color: rgb(252, 213, 53);
}

#item_login {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
}

.item_login a {
    max-height: 20px;
    display: flex;
}

#Log_In {
    display: flex;
}

#Log_In a {
    font-family: inherit;
    display: inline-block;
    width: 50px;
    box-sizing: border-box;
    min-width: 0px;
    font-size: 15px;
    color: #bbbbbbd5;
    text-decoration: none;
}

#Log_In a:hover {
    color: rgb(252, 213, 53);
}

#Register {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Register a {
    height: 32px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(252, 213, 53);
    color: rgb(2, 2, 2);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

#Register a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(252, 213, 53);
}

#item_2 {
    width: 78px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item_2 a i {
    color: #EAECEF;
    font-size: 14px;
    height: 100%;
}

#item_2 a i {
    margin-left: 8px;
    margin-right: 8px;
}

#item_2 i:hover {
    color: rgb(252, 213, 53);
}

#gift {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(60, 38, 1);
    justify-content: center;
    align-items: center;
}

#gift_item {
    width: 354px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon_gift {
    color: rgb(252, 213, 53);
}

#gift_text {
    font-size: 14px;
    color: rgb(234, 236, 239);
}

#Learn_Now {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Learn_Now a {
    height: 32px;
    width: 92.89px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(252, 213, 53);
    color: rgb(2, 2, 2);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

#gift:hover a {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(252, 213, 53);
}

#center {
    width: 100%;
    height: 7182.36px;
    background-color: rgb(20, 21, 26);
}

#center_about {
    width: 100%;
    height: 585.19px;
    display: flex;
}

#about_left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#Blockchain_Crypto {
    width: 515px;
    height: 365px;
    margin-right: 37px;
}

#all_about {
    margin-top: 2px;
    margin-bottom: 8px;
    color: rgb(230, 232, 234);
    font-size: 15px;
    text-transform: uppercase;
}

#Blockchain {
    color: rgb(230, 232, 234);
    font-size: 61px;
    line-height: 72px;
    padding-bottom: 16px;
}

#line {
    width: 40px;
    height: 2px;
    border-radius: 4px;
    background-color: #EAECEF;
    margin-bottom: 32px;
}

#text {
    line-height: 1.4;
    color: #EAECEF;
    margin: 0px 0px 24px;
}

#about_start a {
    height: 48px;
    width: 107.72px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 21, 26);
    border-radius: 4px;
    font-size: 17px;
    text-decoration: none;
}

#about_start a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(255, 255, 255);
}

#about_right {
    width: 50%;
    height: 100%;
    background-color: rgb(43, 47, 54);
    display: flex;
    align-items: center;
}

#about_featured {
    margin-left: 32px;
    width: 520px;
    height: 490px;
}

#featured {
    margin-bottom: 6px;
}

#featured b {
    margin: 0px;
    font-size: 15px;
    color: rgb(230, 232, 234);
}

#img_featured img {
    width: 520px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 12.4px;
    border-bottom-right-radius: 12.4px;
    height: 292px;
    margin-bottom: 21px;
}

#about_featured a {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.4;
    color: rgb(230, 232, 234);
}

#date_time {
    margin: 5px 0px;
    color: rgb(146, 154, 165);
    display: flex;
    align-items: center;
}

#date {
    font-size: 15.5px;
}

#time {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.time_1 {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#time p {
    font-size: 15px;
}

#intermediate {
    width: 110px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0px 8px;
    font-size: 16px;
    height: 36px;
    background-color: rgba(240, 185, 11, 0.3);
    color: rgb(255, 255, 255);
}

#dot {
    background-color: rgb(240, 185, 11);
    border-radius: 50%;
    margin-inline-end: 8px;
    height: 8px;
    width: 8px;
}

#latest_releases {
    width: 100%;
    height: 944px;
    display: flex;
    justify-content: center;
}

#center_LR {
    width: 1100px;
    height: 944px;
    max-width: 1136px;
    padding: 56px 10px;
}

#conten_LR {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.latest_r {
    margin-top: 2.2px;
    font-size: 19.5px;
    color: rgb(230, 232, 234);
}

.see_all {
    color: rgb(230, 232, 234);
    line-height: 1.45;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
}

.see_LR a {
    display: flex;
    align-items: center;
    text-decoration: none;
    align-items: center;
    border: 0.5px solid transparent;
    border-radius: 4px;
    justify-content: center;
    white-space: nowrap;
    outline: 0px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(43, 47, 54);
    color: rgb(255, 255, 255);
}

.element {
    width: 24px;
    height: 24px;
}

.beginner {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 764px;
}

.clone_1 {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
}

.item_3 {
    width: 352px;
    height: 100%;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
}

.item_3:hover {
    box-shadow: 0 0 20px #00000059, 0 0 30px rgba(0, 0, 0, 0.184), 0 0 35px rgba(0, 0, 0, 0.058), 0 0 45px rgba(0, 0, 0, 0.03);
}

.item_3 a {
    text-decoration: none;
}

.conten_1 {
    height: 100%;
    position: relative;
}

#glossary:hover {
    box-shadow: 0 0 20px #00000059, 0 0 30px rgba(0, 0, 0, 0.184), 0 0 35px rgba(0, 0, 0, 0.058), 0 0 45px rgba(0, 0, 0, 0.03);
}

.conten_1 img {
    width: 352px;
    margin-bottom: 21px;
    border-radius: 16px;
}

.notice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1 solid #ffc970;
    border-radius: 40px;
    left: 24px;
    top: 13px;
    font-size: 11.5px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    background-color: rgb(250, 250, 250);
    color: rgb(20, 21, 26);
}

.notice_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1 solid #ffc970;
    border-radius: 40px;
    left: 120px;
    top: 13px;
    font-size: 11.5px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    background-color: rgb(250, 250, 250);
    color: rgb(20, 21, 26);
}

.nft {
    margin: 0px;
    display: flex;
    color: rgb(230, 232, 234);
    margin-bottom: 24px;
    min-height: 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding-left: 24px;
}

.date_time_1 {
    height: 55px;
    margin: 5px 0px;
    color: rgb(146, 154, 165);
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.date_1 {
    font-size: 15.5px;
    margin-left: 15px;
}

.d_time {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.time_2 {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.d_time p {
    font-size: 15px;
}

.beginner_text {
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 12px;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    background-color: rgba(46, 209, 145, 0.3);
    color: rgb(255, 255, 255);
}

.beginner_text_1 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 12px;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    background-color: rgba(217, 48, 78, 0.3);
    color: rgb(255, 255, 255);
}

#dot_1 {
    background-color: rgb(2, 192, 118);
    border-radius: 50%;
    margin-right: 5px;
    height: 6px;
    width: 6px;
}

#dot_2 {
    background-color: rgb(217, 48, 78);
    border-radius: 50%;
    margin-right: 8px;
    height: 6px;
    width: 6px;
}

#glossary {
    position: relative;
    padding: 24px;
    width: 304px;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

#glossary a {
    text-decoration: none;
}

#body_glossary {
    height: 282px;
}

#body_glossary a {
    text-decoration: none;
}

#g_text {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1 solid #ffc970;
    border-radius: 40px;
    margin-bottom: 16px;
    font-size: 11.5px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    background-color: rgb(250, 250, 250);
    color: rgb(20, 21, 26);
}

#My_b {
    color: rgb(230, 232, 234);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

#line_1 {
    background-color: rgb(240, 185, 11);
    border-radius: 4px;
    height: 4px;
    margin-top: 16px;
    width: 32px;
}

#text_1 {
    color: rgb(230, 232, 234);
    font-size: 16.5px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 32px;
    margin-top: 16px;
}

#full_definition {
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background-color: rgb(20, 21, 26);
    color: rgb(230, 232, 234);
}

#full_definition {
    text-decoration: none;
}

#full_definition svg {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

#get_started {
    width: 1136px;
    height: 468.25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item_GS {
    display: flex;
    width: 1104px;
    height: 356.25px;
    border-radius: 20px;
    background-color: #0B0E11;
}

#text_GS {
    width: 450px;
    height: 260px;
    margin-top: 52.5px;
    margin-left: 39px;
}

#earn {
    font-size: 40px;
    color: rgb(230, 232, 234);
}

#build {
    color: rgb(230, 232, 234);
    line-height: 1.4;
    font-size: 20px;
    margin-top: 16px;
}

#start_1 a {
    margin-top: 42px;
    width: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 213, 53);
    color: rgb(24, 26, 32);
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

#start_1 a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(252, 213, 53);
}

#item_img {
    position: relative;
    width: 545px;
    height: 300px;
    margin-top: 25px;
    margin-left: 45px;
}

#keep_eye {
    width: 1136px;
    height: 468.25px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#clone_ke {
    display: flex;
    justify-content: space-between;
    width: 1104px;
    height: 320px;
    margin-top: 55px;
    border-radius: 16px;
    background-color: rgb(43, 47, 54);
}

#text_ke {
    width: 500px;
    height: 260px;
    margin-top: 52.5px;
    margin-left: 39px;
}

#keep {
    font-size: 32px;
    color: #e6e6e6;
}

#every {
    color: rgb(230, 232, 234);
    line-height: 1.7;
    font-size: 16px;
    margin-top: 18px;
}

#bitcoin_hp a {
    height: 37px;
    margin-top: 25px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 21, 26);
    color: rgb(230, 232, 234);
    border-radius: 8px;
    font-size: 13.5px;
    text-decoration: none;
}

#bitcoin_hp a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(20, 21, 26);
}

#trading {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.center_TD {
    width: 1100px;
    height: 550px;
    max-width: 1136px;
    padding: 20px 10px;
}

.conten_TD {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.beginner_1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
}

#topics_difficulty {
    padding-top: 20px;
    padding-bottom: 56px;
}

#body_TD {
    padding: 0px 16px;
    width: 1104px;
    height: 1085.38px;
    margin: auto;
}

#text_tp {
    font-weight: 400;
    line-height: 1.45;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

#topics {
    flex-direction: row;
    align-items: start;
    display: flex;
    margin-bottom: 8px;
}

#text_chose {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.text_2 {
    margin-inline: 16px 0px;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(43, 47, 54);
    border-radius: 100px;
    color: rgb(174, 180, 188);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 14.5px;
    padding: 4px 16px;
}

#chose_dl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 55px;
}

#difficulty {
    font-weight: 400;
    line-height: 1.45;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

#text_3 {
    margin-inline: 16px 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 12px;
    height: 28px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgba(46, 209, 145, 0.3);
    cursor: pointer;
    user-select: none;
}

#item_4 {
    background-color: rgb(2, 192, 118);
    border-radius: 50%;
    margin-inline-end: 8px;
    height: 6px;
    width: 6px;
}

#item_5 {
    font-weight: 400;
    line-height: 1.45;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

#item_6 {
    margin-inline-start: 8px;
    color: rgb(255, 255, 255);
}

#item_6 svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#text_4 {
    margin-inline: 16px 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 12px;
    height: 28px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgba(240, 185, 11, 0.3);
    cursor: pointer;
    user-select: none;
}

#item_4_1 {
    background-color: rgb(240, 185, 11);
    border-radius: 50%;
    margin-inline-end: 8px;
    height: 6px;
    width: 6px;
}

#item_5_1 {
    font-weight: 400;
    line-height: 1.45;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

#item_6_1 {
    margin-inline-start: 8px;
    color: rgb(255, 255, 255);
}

#item_6_1 svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#text_5 {
    margin-inline: 16px 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 12px;
    height: 28px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgba(217, 48, 78, 0.3);
    cursor: pointer;
    user-select: none;
}

#item_4_2 {
    background-color: rgb(217, 48, 78);
    border-radius: 50%;
    margin-inline-end: 8px;
    height: 6px;
    width: 6px;
}

#item_5_2 {
    font-weight: 400;
    line-height: 1.45;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

#item_6_2 {
    margin-inline-start: 8px;
    color: rgb(255, 255, 255);
}

#item_6_2 svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#table {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "s1 s1 s1 s2" "s3 s4 s4 s4" "s5 s5 s6 s6";
    grid-template-rows: auto;
    gap: 16px;
}

#s1 {
    grid-area: s1 / s1 / s1 / s1;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

#table_s1 {
    grid-template-columns: minmax(auto, 368px) 1fr;
    row-gap: 0px;
    align-items: center;
    display: grid;
    grid-template-rows: auto;
}

#img_s1 {
    order: 1;
}

#img_1 {
    padding-top: 90%;
    background-image: url(../img/academy/788008e572724ba68cbeae9f4d3b927d.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    height: 0px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

#text_s1 {
    order: 2;
}

#p2p {
    padding-left: 16px;
    padding-right: 16px;
    text-align: start;
}

#peer_to_peer {
    font-size: 33px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

#date_time_2 {
    justify-content: start;
    align-items: center;
    display: flex;
}

#date_2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    color: rgb(240, 185, 11);
}

#time_3 {
    margin-inline-start: 16px;
    color: rgb(240, 185, 11);
    font-size: 20px;
    align-items: center;
    display: flex;
}

.time_3_1 {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

#dot_3 {
    background-color: rgb(2, 192, 118);
    border-radius: 50%;
    margin-right: 8px;
    height: 6px;
    width: 6px;
}

#beginner_text_2 {
    align-items: center;
    display: flex;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#s2 {
    grid-area: s2 / s2 / s2 / s2;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

.table_s2 {
    flex-direction: column;
    height: 100%;
    align-items: start;
    display: flex;
}

.text_s2 {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    flex: 1 1 0%;
}

.nft_art {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.date_time_3 {
    margin-left: 16px;
    justify-content: start;
    align-items: center;
    display: flex;
}

.date_3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    color: rgb(240, 185, 11);
}

.time_4 {
    margin-inline-start: 8px;
    color: rgb(240, 185, 11);
    align-items: center;
    display: flex;
}

.time_4_1 {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.dot_4 {
    background-color: rgb(2, 192, 118);
    border-radius: 50%;
    margin-right: 8px;
    height: 6px;
    width: 6px;
}

.beginner_text_3 {
    margin-left: 16px;
    margin-bottom: 16px;
    align-items: center;
    display: flex;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#s3 {
    grid-area: s3 / s3 / s3 / s3;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px
}

#s4 {
    grid-area: s4 / s4 / s4 / s4;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

#img_s4 {
    order: 2;
}

#table_s4 {
    grid-template-columns: 1fr minmax(auto, 368px);
    row-gap: 0px;
    align-items: center;
    display: grid;
    grid-template-rows: auto;
}

#img_2 {
    padding-top: 90%;
    background-image: url(../img/academy/f77235707451429697aebd5261099b95.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    height: 0px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

#text_s4 {
    order: 1;
}

#bridge {
    padding-left: 16px;
    padding-right: 16px;
    text-align: end;
}

#date_time_4 {
    justify-content: end;
    align-items: center;
    display: flex;
}

#beginner_text_4 {
    justify-content: end;
    align-items: center;
    display: flex;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#s5 {
    grid-area: s5 / s5 / s5 / s5;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

.table_s5_6 {
    grid-template-columns: minmax(auto, 176px) 1fr;
    row-gap: 0px;
    align-items: center;
    display: grid;
}

#img_5 {
    background-image: url(../img/academy/c2e00cd769f540729c3d764f05ada5f4.png);
    padding-top: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    height: 0px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.text_s5_6 {
    padding-left: 16px;
    padding-right: 16px;
}

.text_s5_s6 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 28px;
}

#s6 {
    grid-area: s6 / s6 / s6 / s6;
    background-color: rgb(43, 47, 54);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 7px 14px, rgb(20 21 26 / 8%) 0px 3px 6px;
}

#img_6 {
    background-image: url(../img/academy/be47a349fab54855b99152416ab172f1.png);
    padding-top: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    height: 0px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

#see_more {
    display: flex;
    text-align: center;
    justify-content: center;
}

#conten_sm {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background-color: rgb(20, 21, 26);
    color: rgb(230, 232, 234);
}

#conten_sm p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    color: rgb(174, 180, 188);
}

#conten_sm svg {
    margin-left: 10px;
    color: rgb(240, 185, 11);
    width: 18px;
    height: 18px;
}

#idea {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: rgb(43, 47, 54);
}

#item_idea {
    margin: auto;
    width: 944px;
    padding: 24px 16px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    display: flex;
}

#conten_idea {
    width: 944px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#img_idea img {
    width: 338px;
    height: 338px;
}

#text_idea {
    margin-left: 20px;
    width: 542px;
    height: 253.59px;
}

#text_idea h2 {
    margin: 0px;
    font-size: 40px;
    margin-bottom: 8px;
    color: rgb(230, 232, 234);
}

#text_idea p {
    margin: 0px;
    color: rgb(230, 232, 234);
    font-weight: 400;
    line-height: 1.45;
    font-size: 24px;
    margin-bottom: 40px;
}

#get_here {
    align-items: center;
    border: 0px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    white-space: nowrap;
    outline: 0px;
    font-size: 20px;
    height: 56px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-image: linear-gradient(97deg, rgb(15, 143, 98) 25%, rgb(43, 180, 126) 50%, rgb(15, 143, 98) 75%, rgb(43, 180, 126) 99.32%);
    background-size: 200%;
    color: rgb(255, 255, 255);
    transition: background-position 350ms ease-in-out 0s;
}

#get_here p {
    margin: 0px;
}

#get_here svg {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.essentials {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#below {
    width: 100%;
    height: 524.69px;
    background: rgb(24, 26, 32);
}

#blockchain_1 {
    max-width: 1100px;
    padding: 56px 16px;
    margin: auto;
}

#check {
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-template-rows: auto;
}

#clone_check {
    padding: 32px;
    border-radius: 16px;
    background-color: rgb(43, 47, 54);
    color: rgb(255, 255, 255);
}

#item_check {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    display: grid;
    gap: 32px;
    grid-template-rows: auto;
}

#img_check img {
    width: 224px;
    height: 244px;
}

#text_check h2 {
    margin-bottom: 16px;
    color: rgb(230, 232, 234);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

#text_check p {
    color: rgb(230, 232, 234);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 24px;
}

#check_out {
    align-items: center;
    border: 1px solid rgb(43, 47, 54);
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    white-space: nowrap;
    outline: 0px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background-color: rgb(20, 21, 26);
    color: rgb(230, 232, 234);
}

#clone_check_1 {
    padding: 300px 40px 48px;
    padding-top: 48px;
    min-height: 250px;
    border-radius: 16px;
    background-color: rgb(43, 47, 54);
    background-image: url(../img/academy/illus-crypto-quiz.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 263px;
    color: rgb(255, 255, 255);
}

#item_check_1 {
    height: 100%;
    align-items: center;
    display: flex;
}

#text_check_1 {
    margin-left: 263px;
    text-align: start;
}

#text_check_1 h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

#text_check_1 p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(230, 232, 234);
    line-height: 1.75;
    margin-bottom: 24px;
}

#text_check_1 a {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(240, 185, 11);
}

#check_live {
    align-items: center;
    border: 0px solid transparent;
    font-weight: 500;
    outline: 0px;
    font-size: 15px;
    height: 40px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
    color: rgb(20, 21, 26);
}

#check_live:hover {
    background-image: linear-gradient(rgb(252, 221, 97) 0%, rgb(252, 218, 109) 100%);
    color: rgb(20, 21, 26);
}

#blockchain_2 {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1100px;
    padding: 56px 16px;
    margin: auto;
}

#item_glo {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 16px;
    grid-template-rows: auto;
}

#text_number {
    flex: 1 1 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 87.57px;
}

#number {
    flex-direction: column;
    align-items: start;
    height: 100%;
    display: flex;
}

#number_292 {
    font-weight: 400;
    font-size: 80px;
    color: rgb(240, 185, 11);
    line-height: 72px;
    margin-bottom: 24px;
}

#number_t {
    font-weight: 400;
    color: rgb(174, 180, 188);
    font-size: 20px;
    line-height: 1.6;
}

#search_3 {
    padding: 24px 32px;
    padding-left: 0px;
    padding-right: 0px;
    align-self: start;
    width: auto;
}

#glo_input {
    appearance: none;
    background: rgb(20, 21, 26);
    color: rgb(230, 232, 234);
    display: block;
    outline: 0px;
    transition: border-color 150ms ease-in-out 0s;
    width: 100%;
    font-size: 16px;
    height: 48px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(94, 102, 115);
    border-radius: 0px;
    padding-right: 0px;
    padding-left: 44px;
}

#item_search {
    max-width: 100%;
    color: rgb(146, 154, 165);
    height: 24px;
    left: 8px;
    position: absolute;
    top: 12px;
    transition: color 150ms ease-in-out 0s;
    width: 24px;
}