body {
    margin: 0px;
}

html body {
    font-family: BinancePlex, Arial, sans-serif!important;
}

html {
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#product {
    width: 1350px;
    height: 2083.45px;
}

#above {
    width: 1350px;
    height: 64px;
    display: flex;
    background-color: #181A20;
    justify-content: center;
}

#center {
    width: 1350px;
    height: 1365.95px;
    display: flex;
    justify-content: center;
    background-image: url(../img/bab_token/bg1440.svg), linear-gradient(180deg, #06080B 79.61%, #76808F 126.01%);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat
}

#below {
    width: 1350px;
    height: 653.5px;
    display: flex;
    background-color: rgb(24, 26, 32);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo_item {
    display: flex;
}

#menu {
    width: 1318px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 135px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 120px;
    height: 24px;
}

#logo a {
    width: 120px;
    height: 24px;
}

.flex-feature {
    display: flex;
}

.menu_above {
    display: flex;
    width: 803.69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.item_conten {
    height: 100%;
    margin-left: 5px;
    padding: 0 8px;
    box-sizing: border-box;
    min-width: 0;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    color: #EAECEF;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.item_conten:hover p {
    color: rgb(252, 213, 53);
}

.item_conten:hover i {
    transform: rotate(180deg);
    margin-top: 5px;
}

.item_conten i {
    margin-left: 5px;
    font-size: 11px;
    margin-bottom: 3px;
}

.vnd {
    box-sizing: border-box;
    min-width: 0;
    display: flex;
    position: relative;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
    background-color: #FCD535;
    color: #1E2329;
}

.vnd:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -3px;
    top: 2px;
    border-left: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
    border-right-color: #F0B90B;
}

#item_login {
    font-family: inherit;
    width: 170px;
    display: flex;
    align-items: center;
}

.item_login a {
    max-height: 20px;
    display: flex;
    margin-left: 20px;
}

#Log_In a {
    display: inline-block;
    width: 40px;
    margin-left: 40px;
    box-sizing: border-box;
    min-width: 0px;
    font-size: 14.1px;
    color: #bbbbbbd5;
    text-decoration: none;
}

#Log_In a:hover {
    color: rgb(252, 213, 53);
}

#Register a {
    margin-left: 24px;
    height: 32px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(252, 213, 53);
    color: rgb(2, 2, 2);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

#Register a:hover {
    box-shadow: inset 0 0 0 77px rgba(126, 124, 113, 0.454);
    background-color: rgb(252, 213, 53);
}

#icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#down {
    width: 40px;
    display: flex;
    justify-content: center;
}

.item_1 {
    color: white;
    padding: 0 8px;
    height: 18px;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    justify-content: center;
    align-items: center;
}

.item_1 i {
    height: 9px;
}

.item_1 i:hover {
    color: rgb(252, 213, 53);
}

.item_1 a:hover {
    color: rgb(252, 213, 53);
}

.line_1 {
    height: 2px;
    width: 8px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.line_2 {
    height: 2px;
    width: 8px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.item_2 {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EAECEF;
    font-size: 14px;
    height: 100%;
}

.item_2 p:hover {
    color: rgb(252, 213, 53);
}

.item_2 i:hover {
    color: rgb(252, 213, 53);
}

.item_1 i {
    margin: 0;
    color: #ffffff;
}

#icon_menu p,
i {
    cursor: pointer;
}

#icon_menu p {
    margin: 0;
}

#icon_menu .item_2 .line_3 {
    margin: 0 8px;
    color: #5E6673;
    cursor: none;
}

#body_center {
    width: 1080px;
    align-items: center;
}

#body_logo img {
    width: 306px;
}

#style {
    margin-left: 76.5%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    background: linear-gradient(211.03deg, #2B2F36 10.78%, rgba(43, 47, 54, 0) 54.07%, #2B2F36 108.18%);
}

#body_logo {
    width: 100%;
    height: 306px;
    padding-top: 40px;
    display: flex;
}

#public {
    height: 306px;
    background-image: url(../img/bab_token/logobg.svg);
    margin-left: 35.8%;
}

.ad {
    --tw-text-opacity: 1;
    color: rgb(112 122 138 / var(--tw-text-opacity));
}

#center_text {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: 0px 0px 8px rgb(241 209 99 / 70%);
    font-size: 46px;
    font-weight: 600;
    line-height: 56px;
    height: 56px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(105.53deg, #fcea9c 23.97%, #f0b90b 107.27%);
}

#center_text_1 {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    height: 23px;
    color: white;
    font-size: 20px;
}

#center_table {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 304.95px;
    background-image: linear-gradient(211.03deg, #2B2F36 10.78%, rgba(43, 47, 54, 0) 54.07%, #2B2F36 108.18%);
    border: 0.5px solid;
    border-image-source: linear-gradient(211.03deg, #2B2F36 10.78%, rgba(43, 47, 54, 0) 54.07%, #2B2F36 108.18%);
}

#table {
    width: 982px;
    height: 248.94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table_text {
    padding-top: 48px;
    padding-bottom: 28px;
    display: flex;
    position: relative;
}

.top_table {
    width: 245.5px;
    height: 132.95px;
    position: relative;
}

.logo_table {
    display: flex;
    justify-content: center;
}

.line {
    position: absolute;
    height: 2px;
    width: calc(100% - 46px);
    background: #2D343B;
    left: calc(50% + 24px);
    top: 18%;
    transform: rotate(-180deg)
}

.logo_table img {
    width: 48px;
    height: 48.95px;
}

.text_table {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #d9d7ce81;
}

#table_submit {
    display: flex;
}

#table_submit input {
    width: 284px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #181A20;
    box-shadow: 0px 0px 16px 0px rgba(252, 213, 53, 0.5);
    background-color: rgb(255, 215, 56);
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#text_title {
    margin-top: 97px;
    width: 100%;
    height: 466px;
}

#faq {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-shadow: 0px 0px 8px rgb(241 209 99 / 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(105.53deg, #fcea9c 23.97%, #f0b90b 107.27%);
    margin-bottom: 24px;
}

#text_question {
    width: 100%;
    height: 326px;
    display: flex;
    justify-content: space-between;
}

.question_1 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    color: rgb(186, 179, 179);
}

.colne_question {
    margin-bottom: 32px;
    height: 142px;
}

.question {
    width: 508px;
    height: 142px;
}

.question_2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(118, 111, 111, 0.911);
}

#body_below {
    width: 1248px;
    height: 605.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
}

#below_text {
    width: 1200px;
    height: 520.5px;
    border-bottom: 0.005px solid rgba(79, 79, 79, 0.623);
    display: flex;
}

#below_colne {
    width: 947.5px;
    height: 520.5px;
    display: flex;
}

.colne {
    width: 189.44px;
    height: 505.5px;
}

.below_title {
    padding-top: 18px;
    padding-bottom: 16px;
}

.title_below {
    font-size: 19px;
    color: #e1e1e1;
}

.below_item {
    width: 173.44px;
    height: 450px;
}

.item {
    display: inline-block;
    width: 173.44px;
}

.below_item a {
    box-sizing: border-box;
    min-width: 0px;
    margin-bottom: 11px;
    font-size: 14.1px;
    color: #bbbbbbd5;
    text-decoration: none;
}

.below_item a:hover {
    color: rgb(255, 255, 255);
}

#Community {
    width: 237px;
    height: 504.5px;
}

#Community_icon {
    margin-left: 17px;
    width: 180px;
}

#below_icon {
    height: 100px;
}

.table_icon {
    display: flex;
    margin-bottom: 26px;
}

.icon {
    margin-right: 37px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    font-size: 10px;
    background-color: rgba(195, 195, 195, 0.696);
}

.clone_icon {
    margin-right: 37px;
}

.icon:hover {
    background-color: rgb(255, 255, 255);
}

.clone_icon a i {
    font-size: 18.5px;
}

.clone_icon a:hover {
    color: rgb(255, 255, 255);
}

#end {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8f8f8fd1;
    font-size: 14px;
}