@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2'), url('../fonts/IBMPlexSans-Light.otf') format('opentype');
    font-weight: 200
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2'), url('../fonts/IBMPlexSans-Light.otf') format('opentype');
    font-weight: 300
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'), url('../fonts/IBMPlexSans-Regular.otf') format('opentype');
    font-weight: 400
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'), url('../fonts/IBMPlexSans-Medium.otf') format('opentype');
    font-weight: 500
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 600
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 700
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 800
}

body {
    font-family: BinancePlex, Arial, sans-serif !important;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    display: block;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(20, 21, 26);
    overflow-x: hidden !important;
}
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(20, 21, 26);
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
}

.trade_coin{
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
}
.grid-container{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(37, 41, 48);
    display: grid;
    gap: 1px;
    grid-template:
    "header header header header header" minmax(64px, auto)
    "left subHeader subHeader market right" 68px
    "left orderbook chart market right" 320px
    "left orderbook chart trades right" 160px
    "left orderbook orderform trades right" 200px
    "left orderbook orderform marketActivity right" 150px
    "left basictable basictable basictable right" 285px
    "footer footer footer footer footer" 24px / 1fr minmax(253px, 320px) minmax(510px, 880px) minmax(253px, 320px) 1fr;
}
.header{
    grid-area: header;
}
.subHeader{
    grid-area: subHeader;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 26, 30);
    font-size: 14px;
    color: rgb(234, 236, 239);
    padding-top: 10px;
    padding-bottom: 10px;
}
.orderbook{
    grid-area: orderbook;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 26, 30);
    position: relative;
    padding-top: 16px;
    padding-bottom: 4px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.chart{
    grid-area: chart;
}
.orderform{
    grid-area: orderform;
}
.market{
    grid-area: market;
}
.trades{
    grid-area: trades;
}
.marketActivity{
    grid-area: marketActivity;
}
.basictable{
    grid-area: basictable;
}
.footer{
    grid-area: footer;
}
a {
    text-decoration: none;
    color: rgb(234, 236, 239);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.header-top{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(22, 26, 30);
}
header {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    background-color: #181A20;
    height: 64px;
    width: 100%;
    padding: 0 16px;
    align-items: center;
}

header i {
    color: #EAECEF;
    margin: 0 4px;
    opacity: 0.6;
}

.flex-menu {
    display: flex;
    height: 100%;
}

.item-menu {
    padding: 0 8px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    color: #EAECEF;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.vnd {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    position: relative;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
    background-color: #FCD535;
    color: #1E2329;
}

.vnd:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -3px;
    top: 2px;
    border-left: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
    border-right-color: #F0B90B;
}

.fa-sun,
.fa-download,
.fa-globe-africa {
    opacity: 1;
}

.flex-login {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-login a {
    margin: 0;
    padding: 6px 12px;
    max-height: 20px;
}

.flex-login .flex-a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    background-color: rgb(252, 213, 53);
    color: rgb(24, 26, 32);
    border-radius: 4px;
    font-size: 14px;
    margin-left: 12px;
}
.flex-empty {
    flex: 1;
}
.flex-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.flex-feature .item1 {
    padding: 0 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-feature .item2 {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EAECEF;
    font-size: 14px;
    height: 100%;

}

.fa-globe-africa {
    margin: 0;
    color: #ffffff;

}

.flex-feature p,
i {

    cursor: pointer;
}

.flex-feature p {
    margin: 0;
}

.flex-feature .item2 .bar {
    margin: 0 8px;
    color: #5E6673;
    cursor: none;
}

.subHeader-flex{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.subHeader-left{
    min-width: 0px;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    flex: 1 1 0%;
}

.subHeader-right{
    display: flex;
    align-items: center;
}

.subHeader-left .left{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;
    flex: 0 0 auto;
}
.children-container{
    display: flex;
    flex: 1 1 0%;
    margin: 0px;
    margin-right: 24px;
    margin-left: 4px;
    height: 48px;
    border-right-width: 1px;
    box-sizing: border-box;
    
    min-width: 0px;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    height: auto;
    justify-content: space-around;
    border-right: 1px solid rgb(37, 41, 48);
}
.coin-item{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-items: center;
    height: 30px;
    flex-wrap: nowrap;
}
.coin-item .coin-title{
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(234, 236, 239);
    font-size: 20px;
    font-weight: 500;
}
.coin-item .btn-pow{
    box-sizing: border-box;
    margin: 0px 0px 0px 4px;
    min-width: 0px;
    padding-left: 3px;
    padding-right: 3px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    font-weight: 400;
    color: rgb(240, 185, 11);
    background-color: rgb(54, 50, 29);
    cursor: pointer;
    display: inline-block;
}
.sub-coin-item{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    line-height: 17px;
    font-size: 12px;
}
.sub-coin-item svg{
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 16px;
    fill: rgb(132, 142, 156);
    width: 1em;
    height: 1em;
}
.subHeader a{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    text-decoration: underline;
    line-height: 17px;
    font-size: 12px;
}
.children-container2{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.children-container2 .up{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: rgb(14, 203, 129);
}
.children-container2 .down{
    font-size: 12px;
    color: rgb(234, 236, 239);
    line-height: inherit;
}
.subHeader-left .right{
    flex: 1 1 0%;
    flex-flow: row nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 0px;
    overflow: hidden;

}
.subHeader-left .right .child-right{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-left: 32px;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    overflow: auto hidden;
}
.child-right-item{
    display: inline-block;
    padding-right: 1.4vw;
}
.child-right-item .up{
    font-size: 12px;
    margin-right: 0px;
    margin-bottom: 2px;
    color: rgb(132, 142, 156);
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.child-right-item .down{
    display: flex;
    font-size: 12px;
    color: rgb(234, 236, 239);
}
.guide-left{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    color: rgb(132, 142, 156);
    font-size: 12px;
    cursor: pointer;
}
.guide-left svg{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 16px;
    fill: rgb(132, 142, 156);
    width: 1em;
    height: 1em;
}
.orderbook >div:not(:hover){
    overflow: hidden;
}

.orderbook-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 16px;
    margin-bottom: 8px;
    position: relative;
}
.bookleft{
    display: flex;
    align-items: center;
}
.bookleft button{
    height: 24px;
    flex: initial;
    margin: 0px 4px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    padding: 0px 4px;
    border: none;
    border-radius: 2px;
    width: 36px;
    min-width: auto;
    height: 32px;
    background-color: transparent;
    opacity: 0.5;
    flex: 1 1 0%;
}
.bookleft svg{
    color: rgb(132, 142, 156);
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 24px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}

.bookright{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    right: 0px;
    position: absolute;
    flex: 0 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    -webkit-box-align: initial;
    align-items: initial;
    -webkit-box-pack: initial;
    justify-content: initial;
}
.bookright-item{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    display: inline-block;
    outline: none; 
    display: flex;
}
.bookright-item .child{
    height: 24px;
    padding-left: 8px;
    width: auto;
    font-size: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(183, 189, 198);
    min-width: 40px;
    height: 32px;
    padding-left: 4px;
    border-radius: 2px;
    width: 100%;
    font-size: 12px;
    margin-right: -4px;
}
.bookright-item svg{
    box-sizing: border-box;
    margin: 0px 0px 0px 5px;
    min-width: 0px;
    font-size: 16px;
    fill: currentcolor;
    color: rgb(132, 142, 156);
    width: 1em;
    height: 1em;
}
.child-right{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(94, 102, 115);
    height: 32px;
    padding-left: 4px;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    margin-right: -8px;
    margin-left: 4px;
    min-width: 24px;
    box-sizing: border-box;
}
.orderbook-tbheader{
    display: flex;
    flex-direction: column;
    margin: 0px 16px 6px 16px;
}
.orderbook-tbheader .content{
    display: flex;
    height: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    color: rgb(132, 142, 156);
}
.orderbook-tbheader .item{
    display: block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orderlist-container{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.resize-triggers {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}
.orderbook-row-container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row-container{
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 1 0%;
    height: 20px;
    -webkit-box-align: center;
    align-items: center;
    animation: 0.3s ease-out 0s 1 normal none running none;
    overflow: hidden
}
.row-content{
    padding-left: 16px !important;
    padding-right: 16px !important;
    line-height: 20px;
    display: flex;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    height: 100%;
    line-height: 22px;
    cursor: pointer;
}
.ask-light{
    color: rgb(246, 70, 93);
}
.row-content .text{
    margin-left: 4px;
    font-size: 12px;
    margin-left: 0px;
    flex: 1 1 0%;
    text-align: right;
    color: rgb(183, 189, 198);
    cursor: pointer;
}

.orderbook-ticket{
    display: flex;
    padding: 1px 16px;
    height: 33px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}
.status-green{
    color: rgb(14, 203, 129);
}
.contract-price{
    display: flex;
    margin-right: 4px;
    font-size: 20px;
    -webkit-box-align: center;
    align-items: center;
}
.contract-price svg{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 16px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.orderbook-ticket .mark-price{
    flex: 1 1 0%;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    color: rgb(132, 142, 156);
}
.orderbook-ticket .more{
    color: rgb(132, 142, 156);
    font-size: 12px;
    text-decoration: none;
}
.bid-light{
    color: rgb(14, 203, 129);
}
