@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2'), url('../fonts/IBMPlexSans-Light.otf') format('opentype');
    font-weight: 200
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2'), url('../fonts/IBMPlexSans-Light.otf') format('opentype');
    font-weight: 300
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'), url('../fonts/IBMPlexSans-Regular.otf') format('opentype');
    font-weight: 400
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'), url('../fonts/IBMPlexSans-Medium.otf') format('opentype');
    font-weight: 500
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 600
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 700
}

@font-face {
    font-family: 'BinancePlex';
    font-display: swap;
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'), url('../fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 800
}

body {
    font-family: BinancePlex, Arial, sans-serif !important;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    display: block;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(20, 21, 26);
    overflow-x: hidden !important;
}
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(20, 21, 26);
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
}

.trade_coin{
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
}
.grid-container{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(37, 41, 48);
    display: grid;
    gap: 1px;
    grid-template:
        "header header header header header" minmax(64px, auto)
        "left subHeader subHeader market right" 68px
        "left orderbook chart market right" 320px
        "left orderbook chart trades right" 160px
        "left orderbook orderform trades right" 1.15fr
        "left orderbook orderform marketActivity right" auto
        "left basictable basictable basictable right" 285px
        "footer footer footer footer footer" 24px / 1fr minmax(253px, 320px) minmax(510px, 880px) minmax(253px, 320px) 1fr;
}
.header{
    grid-area: header;
}
.subHeader{
    grid-area: subHeader;
}
.orderbook{
    grid-area: orderbook;
}
.chart{
    grid-area: chart;
}
.orderform{
    grid-area: orderform;
}
.market{
    grid-area: market;
}
.trades{
    grid-area: trades;
}
.marketActivity{
    grid-area: marketActivity;
}
.basictable{
    grid-area: basictable;
}
.footer{
    grid-area: footer;
}