<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://public.bnbstatic.com/static/images/common/favicon.ico" data-shuvi-head="true" />
    <link rel="stylesheet" href="../static/css/bab_token.css">
    <title>BAB token</title>
</head>

<body>
    <div id="product">
        <div id="above">
            <div id="menu_above">
                <div id="logo">
                    <img src="../static/img/bab_token/binance-h.png" alt="">
                </div>
            </div>
        </div>
        <div id="center">
            <div id="body_center">
                <div id="body_logo">
                    <div id="public"><img src="../static/img/bab_token/token.gif" alt=""></div>
                    <div id="style" class="ad">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25" viewBox="0 0 24 25">
                            <path fill="currentColor" clip-rule="evenodd" fill-rule="evenodd" d="M4.5 3.1084V21.1084H9.40973C8.22213 19.7815 7.5 18.0293 7.5 16.1084C7.5 11.9663 10.8579 8.6084 15 8.6084C16.2641 8.6084 17.4551 8.92113 18.5 9.47344V7.1084L14.5 3.1084H4.5ZM20.5 16.1084C20.5 19.146 18.0376 21.6084 15 21.6084C11.9624 21.6084 9.5 19.146 9.5 16.1084C9.5 13.0708 11.9624 10.6084 15 10.6084C18.0376 10.6084 20.5 13.0708 20.5 16.1084ZM15.71 13.2334H13.71V17.2334L16.741 18.9834L17.741 17.2513L15.71 16.0787V13.2334Z"></path>
                        </svg>
                    </div>
                </div>
                <div id="center_text">Binance Account Bound Token</div>
                <div id="center_text_1">Get your Binance Account Bound(BAB) token and dive into Web3.</div>
                <div id="center_table">
                    <div id="table">
                        <div id="table_text">
                            <div class="top_table">
                                <div class="logo_table">
                                    <img src="../static/img/bab_token/step1-inactive.svg" alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="text_table">
                                    <div>Verify Your Identity</div>
                                </div>
                            </div>
                            <div class="top_table">
                                <div class="logo_table">
                                    <img src="../static/img/bab_token/step2-inactive.svg" alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="text_table">
                                    <div>Connect Wallet</div>
                                </div>
                            </div>
                            <div class="top_table">
                                <div class="logo_table">
                                    <img src="../static/img/bab_token/step3-inactive.svg" alt="">
                                    <div class="line"></div>
                                </div>
                                <div class="text_table">
                                    <div>Sign Message</div>
                                </div>
                            </div>
                            <div class="top_table">
                                <div class="logo_table">
                                    <img src="../static/img/bab_token/step4-inactive.svg" alt="">
                                </div>
                                <div class="text_table">
                                    <div>Get BAB Token</div>
                                </div>
                            </div>
                        </div>
                        <div id="table_submit">
                            <input type="submit" value="Log In">
                        </div>
                    </div>
                </div>
                <div id="text_title">
                    <div id="faq">FAQ</div>
                </div>
            </div>
        </div>
        <div id="below">

        </div>
    </div>
</body>

</html>