<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://public.bnbstatic.com/static/images/common/favicon.ico" data-shuvi-head="true" />
    <link rel="stylesheet" href="../static/css/babt._token.css">
    <title>BABT token</title>
</head>

<body>
    <div id="product">
        <div id="above">
            <div id="menu_above">
                <div id="logo">
                    <img src="../static/img/babt_token/binance-h.png" alt="">
                </div>
            </div>
        </div>
        <div id="center">
            <div id="body_center">
                <div id="body_logo">
                    <div><img src="../static/img/babt_token/token.gif" alt=""></div>
                </div>
                <div id="style">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25">
                        <path fill="currentColor" clip-rule="evenodd" fill-rule="evenodd" d="M4.5 3.1084V21.1084H9.40973C8.22213 19.7815 7.5 18.0293 7.5 16.1084C7.5 11.9663 10.8579 8.6084 15 8.6084C16.2641 8.6084 17.4551 8.92113 18.5 9.47344V7.1084L14.5 3.1084H4.5ZM20.5 16.1084C20.5 19.146 18.0376 21.6084 15 21.6084C11.9624 21.6084 9.5 19.146 9.5 16.1084C9.5 13.0708 11.9624 10.6084 15 10.6084C18.0376 10.6084 20.5 13.0708 20.5 16.1084ZM15.71 13.2334H13.71V17.2334L16.741 18.9834L17.741 17.2513L15.71 16.0787V13.2334Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div id="below">

        </div>
    </div>
</body>

</html>