<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Binance - Cryptocurrency Exchange</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="https://public.bnbstatic.com/static/images/common/favicon.ico" data-shuvi-head="true" />
        <link rel="stylesheet" href="../static/css/homepage.css">
    </head>
    <body>
        <div>
            <a href="../" class="back-to-top">Back to top</a>
        </div>
    </body>
</html>