<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Binance - Cryptocurrency Exchange</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://public.bnbstatic.com/static/images/common/favicon.ico"
        data-shuvi-head="true" />
    <script src="https://kit.fontawesome.com/0d0d9bdf04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
    <div id="app">
        <div class="flex-container">
            <header>
                <a href="" style="margin: 0 8px;display: flex;align-items: center;align-items: center;">
                    <img src="../static/img/homepage/logo.png" alt="" style="width: 120px;height: 24px;">
                </a>
                <div class="flex-menu">
                    <div class="item-menu" style="width: 58px; ">
                        <img src="../static/img/homepage/dots-menu.png" alt="" style="width: 20px; height:20px;">
                        <i class="fa fa-caret-down" aria-hidden="true" style="margin: 0;"></i>
                    </div>
                    <div class="item-menu">
                        <p>Buy Crypto</p>
                        <div class="vnd">VND</div>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Markets</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Trade</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Delivatives</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Earn</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Finance</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>NFT</p>
                    </div>
                    <div class="item-menu">
                        <p>Institutional</p>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="item-menu">
                        <p>Feed</p>
                    </div>
                </div>
                <div class="flex-empty"></div>
                <div class="flex-login">
                    <a href="">Log In</a>
                    <a href="" class="flex-a">
                        <i class="fa fa-gift" aria-hidden="true" style="color: black; opacity: 1;"></i>
                        <p>Register</p>
                    </a>
                </div>
                <div class="flex-feature">
                    <div class="item1">
                        <i class="fas fa-download"></i>
                    </div>
                    <div class="item2">
                        <i class="fas fa-globe-africa"></i>
                        <p class="bar">|</p>
                        <p>VND</p>
                        <p class="bar">|</p>
                        <i class="fas fa-sun"></i>
                    </div>
                </div>
            </header>
            <main>
                <div class="gift">
                    <a href="">
                        <i class="fa fa-gift" aria-hidden="true" style="color:rgb(255, 196, 0)"></i>
                        <p>Register now — Get up to 100 USDT in trading fee rebate (for verified users)</p>
                        <div class="redeem">Redeem Gift</div>
                    </a>
                </div>
                <div class="content2-container">
                    <div class="content2">
                        <div class="content2-main">
                            <div class="left">
                                <h1>Buy, trade, and hold 350+ cryptocurrencies on Binance</h1>
                                <div class="sign-up">
                                    <a href="">
                                        <i class="fa fa-gift" aria-hidden="true" style="font-size: 18px; color: rgb(240, 185, 11); padding: 4px;"></i>
                                        <p>Trade Bitcoin for free</p>
                                        <i class="fas fa-greater-than" style="padding: 5px;"></i>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
            <footer></footer>
        </div>
    </div>
</body>

</html>