<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>29 666 888 | BTCUSDT | Binance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://public.bnbstatic.com/static/images/common/favicon.ico"
        data-shuvi-head="true" />
    <script src="https://kit.fontawesome.com/0d0d9bdf04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/trade_coin.css">
</head>

<body>
    <div id="app">
        <div class="trade_coin">
            <div class="grid-container">
                <div class="header">
                    <div class="header-top">
                        <header>
                            <a href="" style="margin: 0 8px;display: flex;align-items: center;align-items: center;">
                                <img src="../static/img/homepage/logo.png" alt="" style="width: 120px;height: 24px;">
                            </a>
                            <div class="flex-menu">
                                <div class="item-menu" style="width: 58px; ">
                                    <img src="../static/img/homepage/dots-menu.png" alt="" style="width: 20px; height:20px;">
                                    <i class="fa fa-caret-down" aria-hidden="true" style="margin: 0;"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Buy Crypto</p>
                                    <div class="vnd">VND</div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Markets</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Trade</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Derivatives</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Earn</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Finance</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>NFT</p>
                                </div>
                                <div class="item-menu">
                                    <p>Institutional</p>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="item-menu">
                                    <p>Feed</p>
                                </div>
                            </div>
                            <div class="flex-empty"></div>
                            <div class="flex-login">
                                <a href="">Log In</a>
                                <a href="" class="flex-a">
                                    <i class="fa fa-gift" aria-hidden="true" style="color: black; opacity: 1;"></i>
                                    <p>Register</p>
                                </a>
                            </div>
                            <div class="flex-feature">
                                <div class="item1">
                                    <i class="fas fa-download"></i>
                                </div>
                                <div class="item2">
                                    <i class="fas fa-globe-africa"></i>
                                    <p class="bar">|</p>
                                    <p>VND</p>
                                    <p class="bar">|</p>
                                    <i class="fas fa-sun"></i>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div></div>
                </div>
                <div class="subHeader">
                    <div class="subHeader-flex">
                        <div class="subHeader-left">
                            <div class="left">
                                <div class="children-container">
                                    <div class="coin-item">
                                        <div class="coin-title">BTC/USDT</div>
                                        <div class="btn-pow">POW</div>
                                    </div>
                                    <div class="sub-coin-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="iconLeave css-bka6he"><path d="M15.11 5.63L6 6.89 15.11 4v1.63zM17.61 6.89v11.2h-1.25V8.33L6 6.89h11.61z" fill="currentColor"></path><path d="M6 6.89v11.16l.1.01.07.01.17.03h-.27l9.04 2.86V9.77L6 6.89zm3.4 3.2l1.87.6v1.84l-1.87-.59v-1.85zm1.87 7.66l-1.87-.59.03-3.85 1.88.59-.04 3.85z" fill="currentColor"></path></svg>
                                        <a data-bn-type="link" href="https://www.binance.com/en/price/bitcoin" disabled="" target="_blank" class="css-im337v">Bitcoin Price</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="subHeader-right"></div>
                    </div>
                </div>
                <div class="orderbook"></div>
                <div class="chart"></div>
                <div class="orderform"></div>
                <div class="market"></div>
                <div class="trades"></div>
                <div class="marketActivity"></div>
                <div class="basictable"></div>
                <div class="footer"></div>
            </div>
        </div>
    </div>

</body>

</html>